body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #343434;
}

.container {
    width: 320px; 
}

.card {
    border-radius: 50px;
    background-color: #343434;
    box-shadow: 15px 15px 30px #191b1b, -15px -15px 30px #595959;
    padding: 40px;
    text-align: center;
}

.card h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

.card h2 i {
    margin-right: 10px;
    color: #ff4d4d;
}

.card h4 {
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem 0;
}

#icon {
    width: 80px;
    display: block;
    margin: 0 auto;
}

#Weather {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 10px 0;
    color: #bbb;
}

button.refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 20px auto 0;
    background: transparent;
    border: none;
    color: #9c9c9d;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 5px 15px #252525, -5px -5px 15px #4a4a4a;
    transition: all 0.2s ease;
}

button.refresh:hover {
    color: #fff;
    box-shadow: inset 5px 5px 10px #252525, inset -5px -5px 10px #4a4a4a;
}

button.refresh:active i {
    transform: rotate(180deg);
}
